@import "tailwindcss";

:root {
  --color-background-default: #fff;
  --color-background-alternative: #f5f6fa;
  --color-component-dark: #23272e;
  --color-background-modal: #acacae;

  /* input */
  --input-color: #ffb27f;
  --input-color-hover: #f3f4f6;
  --input-placeholder: #aaa;

  /* font */
  --text-body-1: 1rem;
  --text-body-2: .9375rem;
  --text-body-3: .875rem;
  --text-body-4: .8rem;
  --text-title-1: 2rem;
  --text-title-2: 1.625rem;
  --text-title-3: 1.25rem;
  --text-title-4: 1.125rem;
  --text-caption-1: 0.75rem;


  /* font color */
  --text-color-100: #3E3E3E;

  /* button color */
  --color-secondary-300: #333333;
  --color-secondary-400: #222222;
  --color-secondary-600: #1a1a1a;
  --color-primary: #000000;

  /* checkBox color */
  --color-checked: #ff8700;
  --color-checked-300: #fff7e0;

  /* font bold */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* border */
  --color-line-200: #f3f4f6;
  --color-line-400: #ced2d6;

  /* label */
  --color-label-100: #f9fafb;
  --color-label-200: #f3f4f6;
  --color-label-500: #9ca3af;
  --color-label-700: #7F7F82;
  --color-label-800: #3E3E3E;
  --color-label-900: #0d0e0e;

  /* radius */
  --radius-2xl: calc(1rem - 2px);
  --radius-xl: calc(1rem - 4px);
  --radius-lg: calc(1rem - 6px);
  --radius-md: calc(1rem - 8px);
  --radius-sm: 4px;
  --radius-xs: calc(1rem - 12px);

  /* status */
  --color-status-disable: #cbd5e1;
}