.button {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  border-radius: var(--radius-xs);
  border: 1px solid var(--color-component-dark);
  background-color: var(--color-background-default)
}

.button.checked{
  border: transparent;
  background-color: var(--color-checked);
  color: var(--color-background-default)
}

.label--type-title {
  font-size: var(--text-title-4);
  font-weight: 900;
}

.label--type-normal {
  color: var(--color-label-700);
  font-size: var(--text-body-2);
}