.cell-wrapper {
  display: flex;
  align-items: center; 
  padding: 15px 0;
}

.text--align-left {
  justify-content: flex-start;
}

.text--align-center {
  justify-content: center;
}

.text--align-right {
  justify-content: flex-end;
}

.checked {
  background-color: var(--color-checked-300);
}