.container {
  display: flex;
  flex-direction: column;
  padding: 54px;
  justify-content: center;
  align-items: center;
  gap: 8px; /* tailwind gap-2 = 8px */
}

.buttonWrapper {
  margin-top: 15px;
}
