.textarea {
  width: 100%;
  /* 전체 너비 */
  height: 250px;
  /* 최소 높이 */
  padding: 12px;
  /* 내부 여백 */
  border: 0.5px solid var(--color-line-400);
  /* 기본 테두리 */
  border-radius: 12px;
  /* 둥근 모서리 */
  background-color: #fff;
  /* 배경 색상 */
  color: #020617;
  /* 글자 색상 */
  font-size: var(--text-body-3);
  line-height: 1.5;
  resize: none;
  /* 크기 조절 비활성 */
}

.textarea::placeholder {
  color: var(--input-placeholder);
  /* 플레이스홀더 색상 */
}

.textarea:focus {
  outline: none;
  /* 기본 포커스 제거 */
  border: 2px solid var(--input-color);
  /* 포커스 테두리 색상 */
}